// Initial colors
$red: #b10f2e;
$white: #fdfffe;
$blue: #3e79af;
$black: #02070b;
$black-bis: #2c5364;
$black-ter: #203a43;
$grey-darker: #061826;
$grey: #606c74;
$grey-light: #bbc0c3;
$grey-lighter: #e8eaeb;
$green: #59a07a;

// Brand colors
$primary: $grey-darker;

// Base
$body-size: 16px;

// Typography
$family-sans-serif: "Roboto", sans-serif;
$family-primary: $family-sans-serif;
$weight-semibold: 500;
$title-color: $black-ter;
$subtitle-color: $black-bis;
